.container {
  width: 800px;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}

.header {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid black;
  height: auto;
}

.left-block {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 180px;
}

.right-block {
  display: inline-block;
  text-align:center;
  height: 100%;
  width: 600px;
  border-left: 2px solid black;
}

.right-block h2 {
  font-size: 3em;
  margin: 0;
  height: 100%;
  padding-top: 10px;
}

.smile {
  height: 130px;
  width: auto;
}

.logo {
  height: 60px;
  width: auto;
  padding-bottom: 10px;
}

.main, .output {
  display: block;
  margin: 0 auto;
  width: 765px;
  height: auto;
}

.column {
  display: inline-block;
  width: 30%;
  height: auto;
  text-align: center;
}

.inputs {
  padding-bottom: 20px;
}

.gender {
  padding-left: 50px;
}

.submitbutton {
  float: right;
  margin-right: 120px;
}

.form-control.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.reset {
  margin-left: 690px;
}