<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/app.js"></script>
  </head>
  
  <body>
    <div class="container" ng-controller="mainController">
      <div class="header">
        <div class="left-block"><img src="images/face.png" class="smile"></div>
        <div class="right-block">
          <img src="images/logo.png" class="logo" />
          <h2>Automate This!</h2>
        </div>
      </div>
      <div class="main">
        <h2>Provide the following words:</h2>
        <div class="inputs">
          <div class="column">
            <input type="text" ng-model="person.name"/>
            <input type="text" ng-model="jobTitle"/>
            <input type="text" ng-model="tediousTask"/>
          </div>
          <div class="column">
            <input type="text" ng-model="dirtyTask"/>
            <input type="text" ng-model="celebrity"/>
            <input type="text" ng-model="uselessSkill"/>

          </div>
          <div class="column">
            <input type="text" ng-model="obnoxiousCelebrity"/>
            <input type="text" ng-model="hugeNumber"/>
            <input type="text" ng-model="adjective"/>
          </div>

            <form name="gender" class="gender">
              <input type="radio" value="male" ng-model="person.gender" />I'm a guy<br/>
              <input type="radio" value="female" ng-model="person.gender" />I'm a girl
            </form>
        </div><!--inputs-->  
      </div><!--main-->
      <hr>
      <div class="output">
        <p>{{person.name}} was a {{jobTitle}} who loved technology.
          Although {{ person.gender == 'female' ? 'she' : 'he'}} loved parts of his job, 
          {{ person.gender == 'female' ? 'she' : 'he'}} absolutely hated {{tediousTask}} and {{dirtyTask}}.
          So, {{maleName}} met with {{ person.gender == 'female' ? 'her' : 'his'}} mentor {{celebrity}} who
          told {{ person.gender == 'female' ? 'her' : 'him '}} to learn how to {{uselessSkill}} with Thinkful.
          Thinkful didn't offer a course on {{uselessSkill}} so {{ person.gender == 'female' ? 'she' : 'he'}}
          studied programming instead.
        </p>
        <p>
          What a great decision! With {{ person.gender == 'female' ? 'her' : 'his'}} new skills, {{maleName}}
          built a(n) {{adjective}} robot named {{obnoxiousCelebrity}} that not only loved {{dirtyTask}}, but
          did it {{hugeNumber}} times faster.
        </p>
      </div>
    </div><!--container-->
  </body>
</html>