<!DOCTYPE html>
<html lang="en" ng-app="">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  
  <body>
    <div class="container">
      <div class="header">
        <div class="left-block"><img src="images/face.png" class="smile"></div>
        <div class="right-block">
          <img src="images/logo.png" class="logo" />
          <h2>Automate This!</h2>
        </div>
      </div>
      <div class="main">
        <h2>Provide the following words:</h2>
        <div class="inputs">
          <div class="column">
            <input type="text" placeholder="male name" ng-model="malename"/>
            <input type="text" placeholder="Job title" ng-model="jobtitle"/>
            <input type="text" placeholder="tedious task" ng-model="tedioustask"/>
          </div>
          <div class="column">
            <input type="text" placeholder="Dirty task" ng-model="dirtytask"/>
            <input type="text" placeholder="Celebrity" ng-model="celebrity"/>
            <input type="text" placeholder="Useless skill" ng-model="uselessskill"/>
          </div>
          <div class="column">
            <input type="text" placeholder="Obnoxious celebrity" ng-model="obnoxiouscelebrity"/>
            <input type="text" placeholder="Huge number" ng-model="hugenumber"/>
            <input type="text" placeholder="Adjective" ng-model="adjective"/>
          </div>
        </div><!--inputs-->  
      </div><!--main-->
      <hr>
      <div class="output">
        <p>{{malename}} was a {{jobtitle}} who loved technology.
          Although he loved parts of his job, he absolutely hated {{tedioustask}} and {{dirtytask}}.
          So, {{malename}} met with his mentor {{celebrity}} who told him to learn how to
          {{uselessskill}} with Thinkful. Thinkful didn't offer a course on {{uselessskill}} so he
          studied programming instead.
        </p>
        <p>
          What a great decision! With his new skills, {{malename}} built a(n) {{adjective}} robot
          named {{obnoxiouscelebrity}} that not only loved {{dirtytask}}, but did it {{hugenumber}}
          times faster.
        </p>
      </div>
    </div><!--container-->
  </body>
</html>